body{
    background-color:darkseagreen;
    color:black;
    margin:0;
    font: 1.2em/1.2;
    font-family:'Times New Roman', Times, serif;
    line-height: 1.6;
    
    
}
img{
    max-width:100%;
    display:block;
    margin:20px auto;
    border-radius:10px;

}

nav{
    background-color:seagreen;
    padding: 0.5em 0;
    position:sticky;
    top:0;
    z-index:1000;

}
nav ul{
    margin: 0;
    padding: 0;
    list-style:none;
    display:flex;
    justify-content:center;
    gap: 40px;
}
nav a{
    color:aliceblue;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
}
nav a:hover{
    text-decoration:underline;
}
header h1{
font-size: 2.5rem;
padding-top:20px;
text-align:center;

}
header p{
text-align: center;
font-size: 1.4rem;
margin-top: -10px;
}
h2{
font-size: 2rem;
padding-left: 10px;
margin: 30px auto 10px;
max-width: 900px;

}
p{
font-size: 1.3rem;
margin: 10px auto 20px;
max-width: 900px;
text-align: center;
}
#portfolio article {
    background: white;
    padding:20px;
    max-width: 900px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
#portfolio h3 {
    font-size: 1.6rem;
    margin-bottom: 10px;
}
.project-link{
    display: inline-block;
    margin-top: 10px;
    padding: 10px 18px;
    background-color: seagreen;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1.1rem;
}
.project-link:hover {
    background-color: #2a8f63;
}
#extras ul{
    max-width: 900px;
    margin: 10px auto 30px;
    line-height: 1.8px;
    padding-left: 20px;
}
footer{
    background-color: seagreen;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}
footer p{
    color: white;
    margin: 5px 0;
    font-size: 1.2rem;
}
#extras{
    margin-top: 40px;
}
.extras-list{
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-top: 18px;
}
.extra-item{
    display: inline-block;
    padding: 12px 18px;
    background: #3a7d44;
    color: white;
    font-weight: 500;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.3s ease;
    text-align: center;
    box-shadow: o 3px 8px rgba(0,0,0,0.1);
}
.extra-item:hover{
    background: #2f6537;
    transform: translateY(-2px);
    box-shadow: 0 5px 12px rgba(0,0,0,0.15);
}
@media (max-width:600px) {
    .extra-item{
        width:100%;
        padding: 14px;
    }
}